a:link {
  color: #ffffff;
  text-decoration: none;
}

a:visited {
  color: #ffffff;
}
nav {
  align-items:center;
  background-color: rgba(44, 27, 7, 0.9);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 2%;
  position: fixed;
  width: 100vw;
  z-index: 10;
}

nav button {
  background-color: #FDFBFB;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #614A23;
  font-size: clamp(1.2rem, 1vw + 2px, 1.6rem);
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
  padding: 1vw; 
  width: 120%;
  white-space: nowrap;
  transition: all .5s;
}

nav button:hover, nav button:active {
  color: #f6eee0;
  cursor: pointer;
  background-color: #2E1C07;
  border: 1px solid #C9A358;
}

nav img {
  width: 15rem;
}

nav li {
  color: #ffffff;
  font-size: clamp(1.2rem, 1vw + 2px, 1.6rem);
  font-family: 'Raleway', sans-serif;
  white-space: nowrap; 
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  width: 70%;
}

.ul-button-container{
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}


