@font-face {
  font-family: Mammoth;
  font-style: regular;
  font-weight: normal;
  src: url("../../asset/fonts/Mammoth.ttf");
}

.where-we-are-page {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.where-we-are-container {
  border: 1px solid #c9a358;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5em 0;
  position: relative;
  width: 80%;
}

.where-we-are-container h1 {
  background-color: white;
  color: #2e1c07;
  font-family: Mammoth;
  font-size: 4rem;
  left: 50%;
  position: absolute;
  text-align: center;
  top: -24px;
  transform: translateX(-50%);
  width: 13.5em;
  white-space: nowrap;
}
