.icon-card {
  display: flex;
  flex-direction: column;
  gap: 3em 0;
  width: 35%;
  min-width: 20.6rem;
  padding: 3em;
  position: relative;
}


.icon-card img {
  width: 100%;
  max-height: 2;
  min-width: 4.9rem;
  min-height: 5rem;
}



#icon-phone {
  text-align: center;
}
a.icon-phone, a.icon-address {
  color: #2e1c07 !important;
  white-space: nowrap;
}

a.icon-phone:hover, a.icon-address:hover {
  color: #c9a358 !important;
  cursor: pointer;
}

.icon-word-box {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: #2e1c07;
  font-family: "Raleway", sans-serif;
  font-size: clamp(1.6rem ,1.5vw + 3px, 2.4rem);
  height: 50%;
  text-align: center;
  white-space: nowrap;
}

.img-container {
  align-self: center;
  display: flex;
  width: 40%;
}

@media screen and (max-width: 768px) {
  .icon-card {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 65%;
    min-width: 26rem;
    padding: 2rem auto;
  }

  .img-container {
    align-self: flex-start;
    display: flex;
    width: 5rem;
  }
}
