.icon-card {
  display: flex;
  flex-direction: column;
  gap: 3em 0;
  width: 35%;
  min-width: 300px;
  padding: 5em;
}

.icon-card img {
  width: 100%;
}

#icon-phone {
  text-align: center;
}
a.icon-phone, a.icon-address {
  color: #2e1c07 !important;
}

a.icon-phone:hover, a.icon-address:hover {
  color: #c9a358 !important;
  cursor: pointer;
}

.icon-word-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #2e1c07;
  font-family: "Raleway", sans-serif;
  font-size: clamp(1.6rem ,1.5vw + 3px, 2.4rem);
  height: 50%;
  text-align: left;
}

.img-container {
  align-self: center;
  display: flex;
  width: 40%;
}

@media screen and (max-width: 480px) {
  .icon-card {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 100%;
    padding: 2rem auto;
  }

  .img-container {
    align-self: flex-start;
    display: flex;
    width: 5rem;
  }
}
