.what-we-do-card-container {
  display: grid;
  /* margin: 0 auto; */
  gap: 2.5em 0;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
}

.what-we-do-title {
  color: #2e1c07;
  font-family: Mammoth;
  font-size: clamp(2.2rem, 1.5vw + 5.5px, 40rem);
  text-align: center;
  padding-bottom: 6%;
}

.what-we-do-page {
  background-color: #f6eee0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  padding: 7% 0;
}

/* -----------------------------
-------------Tablet-------------
-------------------------------- */

@media screen and (max-width: 768px) {
  .what-we-do-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    padding: 0 15%;
  }

}


/* -----------------------------
-------------Mobile-------------
-------------------------------- */

@media screen and (max-width: 480px) {
  .what-we-do-card-container {
    padding: 0 5%;
  }

  .what-we-do-title {
    padding: 15%;
  }

  .what-we-do-page {
  padding-bottom: 15%;
  }
}
