.crew-title {
  color: #2e1c07;
  font-size: clamp(2.2rem, 3vw - 3px, 4rem);
  font-family: Mammoth;
  margin-bottom: 10rem;
}

.crew-page {
  align-items: center;
  background-color: #f6eee0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

.the-crew-card-holder {
  display: flex;
  gap: 2em;
  width: 90%;
  height: 50%;
}

@media screen and (max-width:1024px){
  .crew-page {
    align-items: center;
    background-color: #f6eee0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60vh;
    width: 100vw;
  }
}
@media screen and (max-width: 768px) {
  .the-crew-card-holder {
    align-items: center;
    flex-direction: column;
  }

  .crew-page {
    justify-content: flex-start;
    padding: 10rem 0; 
    height: max-content;
    
  }
}
