.content-wrapper {
  padding: 23rem 0 0 10rem;
  width: 50%;
  /* min-width: 37.8rem; */
}
.landing-btn {
  background: #C9A358;
  color: #FDFBFB;
  font-size: 2.4rem;
  padding: 3rem 4rem;
  width: 60%;
  white-space: nowrap;
}

/* .landing-btn-container {
  width: 100%;
} */

.landing-caption {
  color:#FDFBFB;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  line-height: 1.8;
  margin-bottom: 2rem;

  width: 37.8rem;
  
}
.landing-container {
  background-image: url("../../asset/images/landing-imgs/HeroPicture.png");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.landing-title {
  color: #FDFBFB;
  font-size: 6.4rem;
  line-height: 1;
  margin-bottom: 2rem;
}
