@font-face {
  font-family: Mammoth;
  font-style: regular;
  font-weight: normal;
  src: url("../../asset/fonts/Mammoth.ttf");
}

.content-wrapper {
  padding: 17% 0 0 9%;
  width: 50%;
  height: auto;
}
.landing-btn {
  background: #c9a358;
  color: #fdfbfb;
  font-family: Mammoth;
  font-size: clamp(1.3rem, 2vw - 1px, 2.4rem);
  padding: 1.5em 2em;
  white-space: nowrap;
  transition: all 0.5s;
}

.landing-btn:hover,
.landing-btn:active {
  background-color: #f6eee0;
  color: #2e1c07;
}

.landing-caption {
  color: #fdfbfb;
  font-family: "Raleway", sans-serif;
  font-size: clamp(1.8rem, 1.8vw, 4.5rem);
  line-height: 1.8;
  margin-bottom: 2rem;
  width: 80%;
  min-width: 30rem;
}

.landing-container {
  background-image: url("../../asset/images/landing-imgs/Hero.png");
  background-size: cover;
  background-color: white;
  min-height: 100vh;
  min-width: 32rem;
  width: 100vw;
}

.landing-title {
  color: #fdfbfb;
  font-family: Mammoth;
  font-size: clamp(2.6rem, 4.5vw, 6.4rem);
  line-height: 1;
  margin-bottom: 2rem;
}

/* -----------------------------
-------------Table-------------
-------------------------------- */

/* @media screen and (orientation: landscape) {
  .landing-container {
    height: auto;
  } */
/* } */
@media screen and (max-width: 1030px) {
  .landing-container {
    background-image: url("../../asset/images/landing-imgs/Hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 69% center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }
}

/* -----------------------------
-------------Mobile-------------
-------------------------------- */
@media screen and (max-width: 480px) {
  .content-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .landing-container {
    background-image: url("../../asset/images/landing-imgs/Hero.png");
  }
  .landing-btn-container {
    display: flex;
    justify-content: center;
    width: 85vw;
  }
}
