@font-face {
  font-family: Mammoth;
  font-style: regular;
  font-weight:normal;
  src: url('../../asset/fonts/Mammoth.ttf')
}


.content-wrapper {
  padding: 23rem 0 0 10rem;
  width: 50%;
  /* min-width: 37.8rem; */
}
.landing-btn {
  background: #C9A358;
  color: #FDFBFB;
  font-family: Mammoth;
  font-size: 2.4rem;
  padding: 1.5em;
  white-space: nowrap;
  transition: all .5s;
}

.landing-btn:hover, .landing-btn:active {
  background-color: #F6EEE0;
  color: #2E1C07;
}

.landing-caption {
  color:#FDFBFB;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  line-height: 1.8;
  margin-bottom: 2rem;

  width: 37.8rem;
  
}
.landing-container {
  background-image: url("../../asset/images/landing-imgs/HeroPicture.png");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.landing-title {
  color: #FDFBFB;
  font-family: Mammoth;
  font-size: 6.4rem;
  line-height: 1;
  margin-bottom: 2rem;
}
