.roots-content {
  align-content: space-between;
  border: 1px solid #c9a358;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  height: auto;
  padding: 0 9% 4% 9%;
  position: relative;
  width: 80%;
}

.roots-page {
  align-items: center;
  background-color: ;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.roots-page p {
  display: flex;
  color: #2e1c07;
  font-family: "Raleway", sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.8;
  padding-top: 1.5em;
}

.roots-title {
  background-color: white;
  color: #2e1c07;
  font-family: Mammoth;
  font-size: 4rem;
  text-align: center;
  margin: -25px auto 0 auto;
  width: 550px;
  position: relative;
}
