.roots-content { 
  align-content: space-between;
  border: 1px solid #C9A358;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  height: auto;
  padding: 0 9% 4% 9%;
  position: relative;
  width: 80%;
}

/* .roots-content::before {
  background: #C9A358;
  content: '';
  display: block;
  height: 118.8%;
  left: 0;
  position:absolute;
  top: -18.8%;
  width: 1px;
}

.roots-content::after {
  background: #C9A358;
  content: '';
  display: block;
  height: 118.8%;
  right: 0%;
  position: absolute;
  top: -18.8%;
  width: 1px;
} */

.roots-page {
  align-items: center;
  background-color: ;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.roots-page p {
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.8;
}


.roots-title {
  background-color: white;
  font-size: 4rem;
  text-align: center;
  margin: -25px auto 0 auto;
  width:300px;
  position: relative;
}

/* .roots-title::before {
  background-color: #C9A358;
  height: 1px;
  display: block;
  content: '';
  position:absolute;
  left: -237.5%;
  top: 50%;
  width: 200%;
}

.roots-title::after {
  content: "";
  display: block;
  width: 200%;
  height: 1px;
  background: #C9A358;
  right: -237.5%;
  top: 50%;
  position: absolute;
} */